.card{
    background-color: darkgray;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    height: 500px;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    opacity: 0.7;
    grid-area: card-area;    
}

.card-img{
    border: 1px dotted black;
    display: block;
    margin-bottom: 30px;
}

.card-img:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-img a{
    text-decoration-line: black;
    padding: auto;
}

.card-img img{
    width: 100%;
    height: 250px;
}

#card-img1{
    grid-area: card-img1;
}

#card-img2{
    grid-area: card-img2;
}

#card-img3{
    grid-area: card-img3;
}
